.navbar {
  left: 0;
  background-color: #032830;
  box-shadow: #6edff6 0px 19px 38px, #6edff6 0px 15px 12px;

  .logo {
    height: 3rem;
    color: white;
  }

  .nav-icon{
    height: 1.75rem;
  }

  .name-farm {
    color: white;
  }

  // .calendar {
  //   font-size: 2rem;
  // }
}
